[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/coffee"]
	path = bundle/coffee
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule "bundle/simple-pairs"]
	path = bundle/simple-pairs
	url = https://github.com/vim-scripts/simple-pairs.git
